* {
    font-family: Helvetica, Sans-serif;
}

body {
    text-align: center;
}

#footer {
    background-color: dimgray;
}

.flatiron {
    background-image: url(../images/flatiron.png);
}

.banner {
    color: white; 
}

.copyright {
    font-size: 11px;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight; bold;
}

h4 {
    font-size: 18px;
}